* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./bg.jpg") no-repeat center center/cover;
  z-index: -1;
  margin-top: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 2rem;
  border: 2px solid lightsteelblue;
}

.head {
  border: 4px solid darkblue;
  text-align: center;
}

.fa-pencil-alt {
  color: mediumvioletred;
}

.h1p {
  margin: 1rem;
}

hr {
  margin: 1.5rem;
}

.box {
  border: 4px solid darkblue;
  border-radius: 4%;
  width: 50%;
  margin: 0 auto;
}

.fmarg {
  margin: 1.5rem;
}

form {
  text-align: left;
}

.inp,
select,
textarea {
  width: 100%;
  display: block;
  border: 2px solid darkseagreen;
  border-radius: 2%;
  background-color: pink;
}

#btn {
  width: 20%;
  display: block;
  margin: 0 auto;
  border: 2px solid yellow;
  border-radius: 15%;
  color: antiquewhite;
  background-color: darkslategray;
}

input[name="star"] {
  width: 1%;
  display: inline;
}
