* {
  margin: 0;
  padding: 0;
}

body {
  background: lightslategrey;
  margin-top: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 2rem;
  border: 2px solid yellow;
}

.head {
  border: 2px solid red;
  text-align: center;
}

.h1p{
    margin: 1rem;
}

hr {
  margin: 1.5rem;
}

.box {
  border: 2px solid red;
  width: 70%;
  margin: 0 auto;
}

.fmarg {
  margin: 1.5rem;
}

form {
  text-align: left;
}

input {
  width: 100%;
  display: block;
  border: 1px solid blue;
}
